h1{
  
  text-align: center;
  font-family: 'Roboto', sans-serif;
}  

h2{
  font-family: 'Roboto', sans-serif;
  text-align: center;

}
aside{
  background-color: blanchedalmond;
}



div{
  background-color: blanchedalmond;
  padding: 1px;
  margin: 1px;
}

p{
  font-family: 'Roboto', sans-serif;
  text-align: center;

}

.card-body{
  border:1px black;
}

.card-text{
  color: black;
}

.card-title{
  color: black;
}

